target
.git
.github
.gentle_state.json
.DS_Store
paper
test_files
data/*
!data/resources/
data/resources/*
!data/resources/affymetrix/
data/resources/affymetrix/*
!data/resources/affymetrix/platform_registry.json
*.pyc
__pycache__
